<section class="sidebar-user" th:fragment="sidebar">
	<ul class="sidebar-menu">
		<li>
			<a th:href="@{/user/account/information}"
			   th:classappend="${requestURI == '/user/account/information'} ? 'active'">
				<i class="fa fa-user"></i>Thông tin tài khoản
			</a>
		</li>
		<li>
			<a th:href="@{/user/account/history-test}"
			   th:classappend="${requestURI == '/user/account/history-test'} ? 'active'">
				<i class="fa fa-clock"></i>Lịch sử làm bài
			</a>
		</li>
		<li>
			<a th:href="@{/user/account/change-password}"
			   th:classappend="${requestURI == '/user/account/change-password'} ? 'active'">
				<i class="fa fa-key"></i>Đổi mật khẩu
			</a>
		</li>
	</ul>
</section>
