<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{user/layout/head::head}"></head>

<body>
	<div th:replace="~{user/layout/preloader::preloader}"></div>

	<header th:replace="~{user/layout/header::header}"></header>

	<main class="main-container">
		<div class="max-width">
			<section class="section home-video">
				<div class="bg-section video-content">
					<video class="video-bg" preload="" playsinline="" autoplay=""
						muted="" loop="">
						<source th:src="@{/user-asset/image/banner.mp4}" type="video/mp4">
					</video>
					<div class="overlay-content">
						<h4>tự học toeic qua bài trắc nghiệm</h4>
						<p>Tự luyện kỹ năng Nghe – Đọc với đề thi chuẩn quốc tế</p>
						<button class="btn"
							th:unless="${#authorization.expression('isAuthenticated()')}">
							<a href="/login">Học ngay</a>
						</button>
						<button class="btn"
							th:if="${#authorization.expression('isAuthenticated()')}">
							<a th:href="@{/mock-exam-card}">Làm test</a>
						</button>
					</div>
				</div>
			</section>

			<section class="section card-chosse">
				<div class="bg-section ">
					<div class="list-card-chosse-practice">
						<div class="cards-practice">
							<div class="card-each ">
								<div class="card-detail">
									<p class="card-title">
										<a th:href="@{/vocabulary-lesson}">Từ vựng</a>
									</p>
									<a th:href="@{/vocabulary-lesson}" class="plain">
										<div class="icon-box">
											<div class="icon-inner">
												<img th:src="@{/user-asset/image/vocabulary.png}">
												<noscript></noscript>
											</div>
										</div>
									</a>
								</div>
							</div>

							<div class="card-each ">
								<div class="card-detail">
									<p class="card-title">
										<a th:href="@{/grammar-lesson}">Ngữ pháp</a>
									</p>
									<a th:href="@{/grammar-lesson}" class="plain">
										<div class="icon-box">
											<div class="icon-inner">
												<img th:src="@{/user-asset/image/grammar.png}">
												<noscript></noscript>
											</div>
										</div>
									</a>
								</div>
							</div>

							<div class="card-each ">
								<div class="card-detail">
									<p class="card-title">
										<a th:href="@{/mock-exam-card}">Trắc nghiệm</a>
									</p>
									<a th:href="@{/mock-exam-card}" class="plain">
										<div class="icon-box">
											<div class="icon-inner">
												<img th:src="@{/user-asset/image/testchosse.png}">
												<noscript></noscript>
											</div>
										</div>
									</a>
								</div>
							</div>

							<div class="card-each ">
								<div class="card-detail">
									<p class="card-title">
										<a th:href="@{/listening-exercise-card}">Luyện nghe</a>
									</p>
									<a th:href="@{/listening-exercise-card}" class="plain">
										<div class="icon-box">
											<div class="icon-inner">
												<img th:src="@{/user-asset/image/listening.png}">
												<noscript></noscript>
											</div>
										</div>
									</a>
								</div>
							</div>

							<div class="card-each ">
								<div class="card-detail">
									<p class="card-title">
										<a th:href="@{/reading-exercise-card}">Luyện đọc</a>
									</p>
									<a th:href="@{/reading-exercise-card}" class="plain">
										<div class="icon-box">
											<div class="icon-inner">
												<img th:src="@{/user-asset/image/reading.png}">
												<noscript></noscript>
											</div>
										</div>
									</a>
								</div>
							</div>

							<div class="card-each ">
								<div class="card-detail">
									<p class="card-title">
										<a th:href="@{/mock-exam-card}">Thi thử</a>
									</p>
									<a th:href="@{/mock-exam-card}" class="plain">
										<div class="icon-box">
											<div class="icon-inner">
												<img th:src="@{/user-asset/image/testtoeic.png}">
												<noscript></noscript>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>

</body>

<script th:src="@{/user-asset/preloader.js}"></script>

</html>