@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Poppins:wght@300;400;500&display=swap');

:root {
    --color-white: #e9e9e9;
    --color-text: #9a4bd7;
    --color-bgmain: #512da8;
    --color-primary: #ffc441;
    --color-bgsecondary: #f0ede6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
}

ul, li {
    list-style: none;
}

.user-profile {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px 0 60px;
    height: calc(100vh - 70px);
    border-radius: 3px;
    overflow: hidden;
}

.user-profile section {
    padding: 20px;
    height: 100%;
}

.sidebar-user  {
    flex: 0 0 23%;
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #f0ede6;
}

.sidebar-user ul {
    display: block;
    list-style: none;
}

.sidebar-user ul li {
    padding: 25px 10px;
    border-bottom: 1px solid #f0ede6;
    list-style: none;
    position: relative;
    border-radius: 5px;
}

.sidebar-user ul li:hover {
    background-color: var(--color-bgmain);
}

.sidebar-user ul li a {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.1s;
}

.sidebar-user ul li:hover a {
    color: var(--color-white);
}

.sidebar-user ul li a i {
    margin-right: 12px;
}

.user-info  {
    flex: 0 0 53%;
    background-color: #fff; 
}

.user-info .user-info-container {
    display: flex;
    flex-direction: column;
}

.user-info .user-info-container div {
    padding: 14px 0;
    display: flex;
    flex-direction: column;
}

.user-info .user-info-container div h3 {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
    border-bottom: 1px solid #c3bdaf;
}

.user-info .user-info-container div label {
    font-size: 15px;
    font-weight: 400;
    color: #000;
    margin-bottom: 10px;
}

.user-info .user-info-container div input {
    font-size: 15px;
    padding: 10px;
    border: 1px solid #c3bdaf;
    border-radius: 5px;
    margin-bottom: 10px;
}

.user-info .user-info-container div button {
    font-size: 17px;
    width: 25%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-bgmain);
    color: var(--color-white);
    cursor: pointer;
    transition: all 0.3s;
}

.user-info .user-info-container div button:hover {
    background-color: var(--color-primary);
}


.user-password  {
    flex: 0 0 53%;
    background-color: #fff; 
}

.user-password .user-password-container {
    display: flex;
    flex-direction: column;
}

.user-password .user-password-container div {
    padding: 14px 0;
    display: flex;
    flex-direction: column;
}

.user-password .user-password-container div h3 {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
    border-bottom: 1px solid #c3bdaf;
}

.user-password .user-password-container div label {
    font-size: 15px;
    font-weight: 400;
    color: #000;
    margin-bottom: 10px;
}

.user-password .user-password-container div input {
    font-size: 15px;
    padding: 10px;
    border: 1px solid #c3bdaf;
    border-radius: 5px;
    margin-bottom: 10px;
}

.user-password .user-password-container div button {
    font-size: 17px;
    width: 25%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-bgmain);
    color: var(--color-white);
    cursor: pointer;
    transition: all 0.3s;
}

.user-password .user-password-container div button:hover {
    background-color: var(--color-primary);
}

.user-avatar {
    flex: 0 0 24%;
    background-color: #fff; 
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.user-avatar div {
    display: block;
    justify-content: center;
    align-items: center;
}

.user-avatar div h3 {
    padding: 0 0 3px 0;
    margin: 20px 0;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    border-bottom: 1px solid #c3bdaf;
}

.user-avatar div div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-avatar .avatar-edit {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    border-radius: 50%;
}

.user-avatar .avatar-edit img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 5px;
    cursor: pointer;
}

.user-avatar .avatar-edit img:hover {
    opacity: 0.7;
}

.user-avatar .avatar-edit .edit {
    position: absolute;
    bottom: 10px;
    left: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    border-radius: 10px;
    display: block;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.user-avatar .avatar-edit .edit:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}