<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{admin/layout/head::head}"></head>

<body>
	<div th:replace="~{user/layout/preloader::preloader}"></div>
	<div class="container-scroller">
		<!-- partial:partials/_sidebar.html -->
		<nav class="sidebar sidebar-offcanvas" id="sidebar"
			th:replace="~{admin/layout/sidebar::sidebar}"></nav>
		<!-- partial:partials/_navbar.html -->
		<nav
			class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row"
			th:replace="~{admin/layout/navbar::navbar}"></nav>
		<!-- partial -->
		<div class="main-panel">
			<div class="content-wrapper pb-0">
				<!-- Hiển thị thông báo thành công -->
				<div th:if="${successMessage}" class="alert alert-success">
					<p th:text="${successMessage}"></p>
				</div>
				<!-- Hiển thị thông báo lỗi -->
				<div th:if="${errorMessage}" class="alert alert-danger">
					<p th:text="${errorMessage}"></p>
				</div>
				<h4 class="card-title">
					<a th:href="@{/admin/part5-reading-exercise}"
						class="text-decoration-none"> <i
						class="mdi mdi-book-open-page-variant"></i>
					</a> Thêm mới bài luyện đọc Phần 5 - Điền từ vào câu
				</h4>
				<!-- first row starts here -->
				<div class="row">
					<div class="col-12 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<form class="forms-sample" method="post"
									th:action="@{/admin/part5-reading-exercise/create}"
									th:object="${readingExercise}" enctype="multipart/form-data">
									<div class="form-group">
										<label for="exampleInputName1">Tiêu đề</label> <input
											type="text" class="form-control" id="exampleInputName1"
											placeholder="Nhập tiêu đề" th:field="*{exerciseName}">
									</div>
									<div class="form-group">
										<label>File nội dung bài luyện đọc (Excel)</label>
										<div class="input-group">
											<input type="file" name="excelFile" accept=".xls, .xlsx"
												class="file-upload-default"> <input type="text"
												class="form-control file-upload-info" disabled
												placeholder="Tải lên file nội dung bài luyện đọc (Excel)">
											<span class="input-group-append">
												<button class="file-upload-browse btn btn-primary"
													type="button">Tải lên</button>
											</span>
										</div>
									</div>
									<button type="submit" class="btn btn-primary mr-2">Xác
										nhận</button>
									<a class="btn btn-light"
										th:href="@{/admin/part5-reading-exercise}">Hủy bỏ</a>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- content-wrapper ends -->
			<!-- partial:partials/_footer.html -->
			<footer class="footer" th:replace="~{admin/layout/footer::footer}">
			</footer>
			<!-- partial -->
		</div>
		<!-- main-panel ends -->
	</div>
	<!-- page-body-wrapper ends -->
	<!-- container-scroller -->
	<div th:replace="~{admin/layout/script::script}"></div>
	<!-- End custom js for this page -->
</body>

</html>