<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{admin/layout/head::head}"></head>

<body>
	<div class="container-scroller">
		<!-- partial:partials/_sidebar.html -->
		<nav class="sidebar sidebar-offcanvas" id="sidebar" th:replace="~{admin/layout/sidebar::sidebar}"></nav>
		<!-- partial:partials/_navbar.html -->
		<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row"
			th:replace="~{admin/layout/navbar::navbar}"></nav>
		<!-- partial -->
		<div class="main-panel">
			<div class="content-wrapper pb-0">
				<!-- Hiển thị thông báo thành công -->
				<div th:if="${successMessage}" class="alert alert-success">
					<p th:text="${successMessage}"></p>
				</div>
				<!-- Hiển thị thông báo lỗi -->
				<div th:if="${errorMessage}" class="alert alert-danger">
					<p th:text="${errorMessage}"></p>
				</div>
				<div class="page-header flex-wrap">
					<form method="get" th:action="@{/admin/vocabulary-lesson}">
						<div class="header-left">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="chủ đề"
									aria-label="Recipient's username" aria-describedby="basic-addon2" name="keyword"
									th:value="${keyword}">
								<div class="input-group-append">
									<button class="btn btn-sm btn-primary" type="submit">
										Tìm kiếm</button>
								</div>
							</div>
						</div>
					</form>
					<div class="header-right d-flex flex-wrap mt-2 mt-sm-0">
						<a th:href="@{/admin/vocabulary-lesson/create}"
							class="btn btn-primary mt-2 mt-sm-0 btn-icon-text"> <i class="mdi mdi-plus-circle"></i> Thêm
							mới
						</a>
					</div>
				</div>
				<!-- first row starts here -->
				<div class="row">
					<div class="col-lg-12 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Quản lý bài học từ vựng</h4>
								<div class="table-responsive">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>ID</th>
												<th>Chủ đề bài học</th>
												<th>Hành động</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="vocabularyLesson : ${list}">
												<td th:text="${vocabularyLesson.id}">id</td>
												<td th:text="${vocabularyLesson.lessonName}">lessonName</td>
												<td><a th:href="@{|/user/vocabulary-lesson/${vocabularyLesson.id}|}"
														class="btn btn-primary btn-sm"> Xem </a> <a
														th:href="@{|/admin/vocabulary-lesson/delete/${vocabularyLesson.id}|}"
														class="btn btn-danger btn-sm"> Xóa </a></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="container" th:replace="~{admin/layout/pagination::pagination}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- content-wrapper ends -->
			<!-- partial:partials/_footer.html -->
			<footer class="footer" th:replace="~{admin/layout/footer::footer}">
			</footer>
			<!-- partial -->
		</div>
		<!-- main-panel ends -->
	</div>
	<!-- page-body-wrapper ends -->
	<!-- container-scroller -->
	<div th:replace="~{admin/layout/script::script}"></div>
	<!-- End custom js for this page -->
</body>

</html>