<!-- account.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{user/layout/head::head}"></head>
<body>
	<header th:replace="~{user/layout/header::header}"></header>
	<main>
		<div class="main-container">
			<div class="user-profile">
				<section class="sidebar-user">
					<ul class="sidebar-menu">
						<li><a th:href="@{/user/account/information}"
							th:classappend="${requestURI == '/user/account/information'} ? 'active'">
								Thông tin tài khoản </a></li>
						<li><a th:href="@{/user/account/history-test}"
							th:classappend="${requestURI == '/user/account/history-test'} ? 'active'">
								Lịch sử làm bài </a></li>
						<li><a th:href="@{/user/account/change-password}"
							th:classappend="${requestURI == '/user/account/change-password'} ? 'active'">
								Đổi mật khẩu </a></li>
					</ul>

				</section>

				<section class="user-maincontent" th:replace="~{${content}}"></section>



			</div>
		</div>
	</main>
</body>
</html>
