<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{user/layout/head::head}"></head>
<body>

    <header th:replace="~{user/layout/header::header}"></header>

    <main>
        <div class="main-container">
            <div class="main-section">
                <section class="sidebar-list">
                    <div class="header-topic">
                        <h3>Từ vựng theo chủ đề</h3>
                    </div>
                    <div class="list-topic">
                        <ul f>
                            <li><a>Kinh doanh và phát triển phần 1</a></li>
                            <li><a>Kinh doanh và phát triển phần 2</a></li>
                            <li><a>Gia đình và bạn bè phần 1</a></li>
                            <li><a>Gia đình và bạn bè phần 2</a></li>
                            <li><a>Trường học phần 1</a></li>
                            <li><a>Trường học phần 2</a></li>
                            <li><a>Cuộc sống quanh ta phần 1</a></li>
                            <li><a>Cuộc sống quanh ta phần 2</a></li>
                            <li><a>Yêu và hận thù phần 1</a></li>
                            <li><a>Yêu và hận thù phần 2</a></li>
                            <li><a>Đi học cà phê xuyên đêm</a></li>
                        </ul>
                    </div>
                </section>
    
                <section class="main-content">
                    <div class="main-gramm-search">
                        <div class="gramm">
                            <div class="list-gramm">
                                <div class="gramm-detail">
                                </div>
        
                            </div>
                        </div>
                    </div>
    
                </section>

            </div>
        </div>
    </main>

</body>
</html>
