<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{user/layout/head::head}"></head>
<body>

    <header th:replace="~{user/layout/header::header}"></header>

	<main>
      <div class="main-container">
        <div class="user-profile">
          <section class="sidebar-user">
            <ul>
              <li><a href="#" onclick="showSection('.user-info')"><i class="fa fa-user"></i>Thông tin tài khoản</a></li>
              <li><a href="#"><i class="fa fa-clock"></i>Lịch sử học tập</a></li>
              <li><a href="#" onclick="showSection('.user-password')"><i class="fa fa-key"></i>Đổi mật khẩu</a></li>
            </ul>
          </section>

          <section class="user-info">
            <div class="user-info-container">
              <div class="user-info-header">
                <h3>Profile</h3>
              </div>
              <form action="">
                <div>
                  <label for="username">Username</label>
                  <input type="text" id="username" name="username" placeholder="Nhập username" required>
                </div>
                <div>
                  <label for="email">Email</label>
                  <input type="email" id="email" name="email" placeholder="Nhập email" required>
                </div>
                <div>
                  <button class="update" type="submit">Cập nhật</button>
                </div>
              </form>
            </div>
          </section>

          <section class="user-password" style="display: none;">
            <div class="user-password-container">
              <div class="user-password-header">
                <h3>Change password</h3>
              </div>
              <form action="">
                <div>
                  <label for="old-password">Mật khẩu cũ</label>
                  <input type="password" id="old-password" name="old-password" placeholder="Nhập mật khẩu cũ" required>
                </div>
                <div>
                  <label for="new-password">Mật khẩu mới</label>
                  <input type="password" id="new-password" name="new-password" placeholder="Nhập mật khẩu mới" required>
                </div>
                <div>
                  <label for="confirm-password">Xác nhận mật khẩu</label>
                  <input type="password" id="confirm-password" name="confirm-password" placeholder="Nhập lại mật khẩu mới" required>
                </div>
                <div>
                  <button class="update" type="submit">Cập nhật</button>
                </div>
              </form>
            </div>
          </section>

          <section class="user-avatar">
            <div>
              <h3>Avatar public</h3>
              <div>
                <div class="avatar-edit">
                  <img th:src="@{/asset/image/user/avatar.jpg}" alt="avatar">
                  <!-- <button class="edit" type="submit">Edit <i class="fa fa-user-edit"></i></button> -->
                  <input type="file" id="avatarInput" accept="image/*" style="display: none;">
                  <label for="avatarInput" class="edit">Edit<i class="fa fa-user-edit"></i></label>
            
                </div>
              </div>
            </div>
          </section>

        </div>
      </div>
    </main>
</body>
</html>
