<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{user/layout/head::head}"></head>
<body>

    <header th:replace="~{user/layout/header::header}"></header>

    <main>
        <div class="main-container">
        	<div class="main-content-card">
                <div class="header-title">
                    <h1>Luyện đọc tiếng Anh</h1>
                </div>
                <div class="cards">
                    <div class="card">
                        <div class="part-img">
                            <img src="picClient/pic1.png" alt="">
                        </div>
                        <div class="part-title">
                            <h3>Phần 5</h3>
                            <h5>Hoàn thành câu</h5>
                            <p>Chọn đáp án đúng nhất trong 4 câu đáp án để hoàn thành câu.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="part-img">
                            <img src="picClient/pic1.png" alt="">
                        </div>
                        <div class="part-title">
                            <h3>Phần 6</h3>
                            <h5>Hoàn thành đoạn văn</h5>
                            <p>Hoàn thành đáp án đúng nhất trong 4 đáp án (từ, cụm từ hoặc câu) để hoàn thành đoạn văn. Mỗi đoạn văn sẽ có 4 câu hỏi.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="part-img">
                            <img src="picClient/pic1.png" alt="">
                        </div>
                        <div class="part-title">
                            <h3>Phần 7</h3>
                            <h5>Đọc hiểu</h5>
                            <p>Thí sinh sẽ đọc các bài đọc hiểu sau đó chọn đáp án đúng nhất trong các câu hỏi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>
